#about{
    /* background-image: url('../assets/bg4.jpg'); */
    background-size: cover;
    background-position: bottom center;
    background-color: rgba(38, 21, 68, 0.856);
    backdrop-filter: brightness(75%);
}