#about{
    background-image: url('../assets/bg4.jpg');
    background-size: cover;
    background-position: bottom center;
    background-color: rgba(255, 255, 255, 0.099);
    backdrop-filter: brightness(75%);
}