.weather-app {
    text-align: center;
    background-image: url('../assets/bg4.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
  background-position: bottom center;
  
}
.header{
  font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 900;
    text-shadow: 2px 6px rgba(34, 33, 33, 0.6);
    text-align: center;
    padding-bottom: 20px;
    margin: 30px;
}
input{
    background-color: rgba(28, 11, 66, 0.411);
    /* background-color: #283369; */
    font-family: 'Montserrat';
    backdrop-filter: brightness(75%);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    width: 65vw;
    height: 10vh;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-bottom: 10px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.76);
  opacity: 1; /* Firefox */
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #bebdbd00;
  }
  ::-webkit-scrollbar-track {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);;
  }
input:focus{
    outline: none;
}
.weather-output{
    border: 1px solid white;
    border-radius: 5px;
}