.weather-app {
    text-align: center;
    background-image: url('../assets/bg4.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
  background-position: bottom center;
  
}
select{
    background-color: rgba(14, 39, 85, 0.5);
    /* background-color: #283369; */
    backdrop-filter: brightness(75%);
    font-size: 20px;
    padding: 10px;
    width: 200px;
    color: rgb(255, 255, 255);
    border-radius: 0 20px;

}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #bebdbd00;
  }
  ::-webkit-scrollbar-track {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);;
  }
select:focus{
    outline: none;
}
.weather-output{
    border: 1px solid white;
    border-radius: 5px;
}